/*******************************
            GÉNÉRAL
********************************/


::-webkit-scrollbar {
    display: none;
/ / Safari and Chrome
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'PT Sans', sans-serif;
    font-size: 15px;
    background-color: #fff8c4;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

.searchBar {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    line-height: 30px;
    border: 0;
    background-color: #1e272e;
}

#manage_kidzz .searchBar {
    width: calc(100% - 80px);
}

.disabled {
    display: none;
}

::-webkit-input-placeholder {
    color: #fff;
}


/*******************************
            SNACK BAR
********************************/


/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
    text-transform: uppercase;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}


/*******************************
            CONTAINER
********************************/


.home-container {
    background-color: #1e272e;
}

.home-container-log {
    margin-left: 0;
    height: 330px;
    padding: 20px 30px;
    background: #fff8c4;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.36);
    overflow: scroll;
    scrollbar-width: none;
}

.container-main {
    height: calc(100vh - 60px);
}

.container-title {
    width: 100%;
    display: flex;
    padding: 30px 20px;
    background-color: #3c40c6;
}

.container-menu {
    width: 100%;
    display: flex;
    padding: 15px 20px;
    justify-content: space-around;
    background-color: #575fcf;
}

.container-form-button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.scroll {
    overflow-y: scroll;
    height: calc(100vh - 150px);
    scrollbar-width: none;
}

.scroll-list-kidzz {
    overflow-y: scroll;
    height: calc(100vh - 210px);
    padding: 30px 20px 0;
    scrollbar-width: none;
}

#create_kidzz .scroll,
#edit_kidzz .scroll {
    height: calc(100vh - 150px);
    padding: 20px 20px 10px;
    font-size: 20px;
    scrollbar-width: none;
}


/*******************************
            TITLE
********************************/


h1 {
    text-align: center;
    font-size: 100px;
    height: calc(100vh - 330px);
    font-family: 'Comfortaa', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home h1,
#signupForm h1 {
    min-height: 110px;
}

h2 {
    font-size: 32px;
    line-height: 30px;
    margin-left: 10px;
    font-family: 'Comfortaa', sans-serif;
    color: #fff;
}

.name-question {
    margin: 20px 0 15px;
    font-size: 20px;
    display: block;
}

.adresse-log {
    font-size: 22px;
    padding-left: 10px;
}

.mdp-log {
    font-size: 22px;
    padding-left: 10px;
}


/*******************************
            BUTTON
********************************/


.init-button {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.button-log {
    margin: 15px auto 0;
    border: 1px solid #D5211D;
    border-radius: 3px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    display: block;
    padding: 5px 15px;
    color: #FFF;
    cursor: pointer;
    background-color: #f73f3f;
    text-shadow: 0 -1px 1px #D52114, 1px 0 1px #D52114, 0 1px 1px #D52114, -1px 0 1px #D52114;
    box-shadow: 0 1px 0 #D52114;
}

.button {
    width: 100%;
    height: calc((100vh - 150px) / 4);
    min-height: 40px;
    font-size: 35px;
    box-shadow: inset 0 5px 5px -5px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

.button-manage-plus {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-form-manage-plus {
    width: 80px;
    height: 60px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff5e57;
}

.button-create {
    width: 100%;
    margin: 20px auto;
    padding: 15px 10px;
    font-size: 20px;
    background-color: #575fcf;
    border-radius: 3px;
    color: #fff;
}

.button-play {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    border-left: 1px solid;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff5e57;
}

.button-valided {
    width: 100%;
    height: 50px;
    background-color: bisque;
    font-size: 28px;
}

.button-del {
    width: 100%;
    margin: 0 0 10px;
}

.button-edit {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    border-left: 1px solid;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff5e57;
}

.button-menu-play {
    background-color: rgba(26, 138, 38, 0.96);
}

.button-menu-manage {
    background-color: #ff5e57;
}

.button-menu-online {
    background-color: #fff8c4;
}

.button-menu-myKidzz {
    background-color: #ffdd59;
}

.button-menu-favorite {
    background-color: #ffc048;
}

.button-note {
    width: 100px;
    display: block;
    margin: 0px auto 20px;
    padding: 9px 15px;
    font-size: 20px;
    background-color: aquamarine;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-report {
    width: 130px;
    display: block;
    margin: 0 auto;
    padding: 9px 15px;
    font-size: 20px;
    background-color: aquamarine;
    border: 1px solid #ccc;
    border-radius: 5px;
}


/*******************************
            INPUT
********************************/


.input-log {
    font-size: 16px;
    width: 100%;
    height: 40px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    color: #32373c;
    border-radius: 5px;
    margin: 10px 0;
    line-height: 18px;
}

.input-answer {
    font-size: 16px;
    width: calc(100% - 120px);
    /* height: 40px; */
    color: #32373c;
    background-color: #fff;
    margin-top: 15px;
    padding: 5px 10px;
    border-radius: 0 3px 3px 0;
}

.input-question {
    font-size: 24px;
    width: 100%;
    /* height: 40px; */
    padding: 10px;
    border: 1px solid #ddd;
    color: #32373c;
    border-radius: 5px;
    margin: 10px 0;
}

.input-favoris {

}

/*******************************
            ICONES
********************************/


.fas {
    font-size: 30px;
    color: #000;
    text-align: center;
}

.fa-home,
.fa-sync,
.fa-power-off {
    color: #fff;
}


/*******************************
            LABEL
********************************/

.label-container {
    display: flex;
}

.label-log {
    display: block;
    margin-top: 20px;
}

.label-rate {
    float: left;
    padding: 20px 0 30px;
    width: 50%;
}

.label-rate #rate_down + i {
    font-size: 50px;
    text-align: center;
    display: block;
}

.label-rate #rate_down:checked + i {
    color: crimson;
}

.label-rate #rate_up + i {
    font-size: 50px;
    text-align: center;
    display: block;
}

.label-rate #rate_up:checked + i {
    color: #5b9dd9;
}

.label-favoris {
    width: 100%;
    display: inline-block;
    padding: 20px 0;
}

.input-favoris + span {
    width: 200px;
    display: block;
    padding: 10px 0;
    text-align: center;
    font-size: 20px;
    background-color: bisque;
    margin: 0 auto;
}

.input-favoris:checked + span {
    background-color: aquamarine;
}

#create_kidzz input[type="checkbox"] + span,
#edit_kidzz input[type="checkbox"] + span {
    background-color: #ffdd59;
    width: 120px;
    padding: 15px 10px;
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
    display: block;
    border-radius: 3px 0 0 3px;
}

#create_kidzz input[type="checkbox"]:checked + span,
#edit_kidzz input[type="checkbox"]:checked + span {
    background-color: #ff5e57;
}


#create_kidzz input[type="button"] + span,
#edit_kidzz input[type="button"] + span {
    background-color: #575fcf;
    width: 100%;
    display: block;
    padding: 15px 10px;
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
    border-radius: 3px;
    color: #fff;
}

#create_kidzz input[type="button"]:checked + span,
#edit_kidzz input[type="button"]:checked + span {
    background-color: #b5794f;
}


.kidzz_div_list {
    width: 100%;
    overflow: hidden;
    position: relative;
    border: 1px solid;
    margin-bottom: 50px;
    border-radius: 10px;
    background-color: #ffdd59;
}

.kidzz_div_list_item {
}

.kidzz_div_list_item_name {
    width: calc(100% - 60px);
    text-align: center;
    font-size: 22px;
    height: 60px;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffc048;
}

.kidzz_div_list_item_note {
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin: 25px 0 10px;
}

.kidzz_div_list_item_description {
    width: 100%;
    min-height: 80px;
    line-height: 18px;
    font-size: 18px;
    padding: 10px 15px 0;
}


.div-player-list-end-game {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.div-player-list-end-game .joueur_div {
    width: 80%;
    margin-bottom: 10px;
    line-height: 20px;
    font-size: 18px;
}

.kidzz-title-joueur {
    font-size: 20px;
    margin: 10px;
    display: block;
}


.kidzz_input {
    font-size: 24px;
    width: 100%;
    height: 40px;
    padding: 3px 6px;
    border: 1px solid #ddd;
    color: #32373c;
    border-radius: 5px;
    text-align: center;
}

.kidzz_input:focus {
    border-color: #5b9dd9;
    box-shadow: 0 0 2px rgba(30, 140, 190, .8);
}

.kidzz_button {
    margin: 20px auto 0;
    border: 1px solid #D5211D;
    border-radius: 3px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    display: block;
    padding: 5px 15px;
    color: #FFF;
    cursor: pointer;
    background-color: #f73f3f;
    text-shadow: 0 -1px 1px #D52114, 1px 0 1px #D52114, 0 1px 1px #D52114, -1px 0 1px #D52114;
    min-width: 80px;
}

.joueur_div {
    width: 48%;
    height: 30px;
    font-size: 14px;
    padding: 5px 0px;
    background-color: aqua;
    border: 1px solid;
    border-radius: 3px;
    overflow: hidden;
    text-align: center;
    margin-left: 1%;
    float: left;
    margin-right: 1%;
    margin-bottom: 1px;
}

.selected {
    background-color: #b5794f;
}

.user_form {
    text-align: center;
}

.game_div {
    width: 320px;
    margin: 0px auto;
    padding: 15px 0;
}

.large_game_div {
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
}

.reponse_div {
    width: 50%;
    height: 160px;
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    flex-wrap: wrap;
    overflow: scroll;
    scrollbar-width: none;
    padding: 0px 0;
}

.reponse_div_1 {
    background-color: #D5211D;
}

.reponse_div_2 {
    background-color: #5b9dd9;
}

.reponse_div_3 {
    background-color: chartreuse;
}

.reponse_div_4 {
    background-color: darkorange;
}

.answer_div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 320px;
}

.answer_item {
    width: 100%;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0;
    height: 35px;
    overflow: hidden;
    word-wrap: break-word;
}

.kidzz_div {
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: scroll;
    scrollbar-width: none;
    padding: 10px 0;
}

#player_in_game_list {
    display: block;
}

.question_item {
    font-size: 21px;
    text-align: center;
    padding: 0px 10px;
}

.question-explication {
    margin-bottom: 0;
}

.question-explication-input {
    height: 150px;
    resize: none;
}


/*******************************
            MEDIA QUERIES
********************************/


@media screen and (min-width: 900px) {
    .home-container {
        width: 320px;
        margin: 0 auto;
        padding: 8% 0 0;
    }

    .home-container-log {
        height: auto;
    }
}

/*******************************
           JS
********************************/
.hide_by_text {
    display: none;
}
.empty_input{
    border-color: red;
    border-style: groove;
    border-width: 1px;
}